
@import url('https://fonts.googleapis.com/css2?family=Manrope:wght@200..800&display=swap');


body{  
    font-family: "Manrope", sans-serif;
    margin: 0;
    color: #0A2640;
}
nav{
    display: flex;
    justify-content: space-between;
    padding-inline: 100px ;
    padding-top: 56px;
}
a{
    text-decoration: none;
    color: #0A2640;
}
ul{
    list-style-type: none;
    display: flex;
}
li{
    padding-left: 40px;
}
.login-button{
     border-radius: 19px;
     border: 2px solid #0A2640;
     height: 30px;
     width: 99px;
     background:none;
     cursor: pointer;
     margin-left: 40px;
}
.blog{
    text-align: center;
}
h1{
    font-weight: 400;
    font-size: 64px;
}
p{
    font-weight: 400;
    font-size: 20px;
    padding-inline: 5px;
}
h2{
    font-weight: 400;
    font-size: 44px;
    line-height: 72px;
}
hr{
    margin-inline: 100px;
}
section{
    display: flex;
    padding-inline: 100px;
    padding-bottom: 72px;
}
section .blog-img{
    padding-right: 100px;
}
.pfp{
    display: flex;
    height: 40px;
}
.pfp p{
    margin: 8px;
}
h3{
    font-weight: 400;
    font-size: 48px;
}   
.latest-news{
     padding-inline: 201px;
    }
.news{
     display: flex;
     justify-content: space-between;
     padding-bottom: 80px;
 }
h6{
     font-weight: 400;
     font-size: 20px;
     line-height: 32px;
}
.innerdiv-p{
     height: 95px;
}
 .innerdiv2{
     padding-inline:50px ;
}
.load-btn{
    padding-left: 590px;
    padding-top: 25px;
    padding-bottom: 125px;
}
.load-btn button{
    font-weight: 700;
    font-size: 20px;
    border-radius: 56px;
    border: 2px solid #0A2640;
    color: #0A2640;
    background: none;
    padding-block: 16px;
    padding-inline: 50px;
}

