
@import url('https://fonts.googleapis.com/css2?family=Manrope:wght@200..800&display=swap');


body{  
    font-family: "Manrope", sans-serif;
    margin: 0;
    color: #0A2640;
}
nav{
    display: flex;
    justify-content: space-between;
    padding-inline: 100px ;
    padding-top: 56px;
}
a{
    text-decoration: none;
    color: #0A2640;
}
ul{
    list-style-type: none;
    display: flex;
}
li{
    padding-left: 40px;
}
.login-button{
     border-radius: 19px;
     border: 2px solid #0A2640;
     height: 30px;
     width: 99px;
     background:none;
     cursor: pointer;
     margin-left: 40px;
}
.blog{
    text-align: center;
}
h1{
    font-weight: 400;
    font-size: 64px;
}
p{
    font-weight: 400;
    font-size: 20px;
    padding-inline: 5px;
}

hr{
    margin-inline: 100px;
}
section{
    display: flex;
    padding-inline: 100px;
    padding-bottom: 72px;
}
section .blog-img{
    padding-right: 100px;
}
.pfp{
    display: flex;
    height: 40px;
}
.pfp p{
    margin: 8px;
}